#canvas {
  background: url("./sprites/UI/bg.png");
  background-size: 100% 100%;
  top: 0;
  margin: 0;
  cursor: auto;
  position: absolute;
  display: block;
}

body {
  background-color: black;
  overflow: hidden;
}

@font-face {
  font-family: "FFFFORWA";
  src: url("./FFFFORWA.TTF");
}

@font-face {
  font-family: "Glitch";
  src: url("./itlivesintheswamp.ttf");
}

#loading {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  color: grey;
  text-align: center;
  padding: 45vh 0;
  font-size: 10vh;
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
  border: none;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}
