html,
body {
  border: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
  border: none;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

#canvas {
  z-index: 0;
  background: url("./sprites/UI/bg.png");
  background-size: 100% 100%;
  top: 0;
  margin: 0;
  cursor: auto;
  position: absolute;
  display: block;
}

body {
  background-color: black;
  overflow: hidden;
}

@font-face {
  font-family: "FFFFORWA";
  src: url("./FFFFORWA.TTF");
}

#loading {
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  color: grey;
  text-align: center;
  padding: 35vh 0;
  font-size: 10vh;
  font-family: FFFFORWA;
}

#warning {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  color: red;
  text-align: center;
  padding: 20vh 0;
  font-size: 10vh;
  font-family: FFFFORWA;
}

#warningButton {
  z-index: 2;
  width: 16vw;
  height: 7vh;
  margin: auto;
  background-color: grey;
  border: solid #333333 3px;
  text-align: center;
  font-size: 3.5vh;
  color: black;
  font-family: FFFFORWA;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

#warningButton:hover {
  background-color: #5c7cff;
  border: solid #b2b5ff 3px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #b2b5ff;
}

p {
  padding-left: 20vw;
  padding-right: 20vw;
  color: white;
  margin-top: 30px;
  font-size: 3vh;
}

.github-logo {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: url("GitHub-Mark-64px.png");
  background-size: 100% 100%;
  bottom: 15px;
  right: 15px;
}

.github-logo:hover {
  background: url("GitHub-Mark-64px-hover.png");
  background-size: 100% 100%;
}

.twitter-logo {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: url("Twitter-64px.png");
  background-size: 100% 100%;
  bottom: 15px;
  right: 75px;
}

.twitter-logo:hover {
  background: url("Twitter-64px-hover.png");
  background-size: 100% 100%;
}

.loadingText {
  font-size: 2vh;
  padding-top: 3vh;
  color: white;
}

.loadingGif {
  width: 12vw;
  height: 4vh;
  position: relative;
  top: -10vh;
}

.loadingBox {
  width: 14vw;
  height: 4vh;
  position: relative;
  left: 50%;
  margin-top: 2vh;
  margin-left: -7vw;
  background-color: grey;
  border: solid #333333 3px;
}

.loadingBar {
  width: 0;
  height: 4vh;
  position: absolute;
  left: 50%;
  margin-left: -7vw;
  background-color: #b2b5ff;
}
